In [1]:
# This code filter out users and tracks with specific condition
import os
import pandas as pd
import numpy as np
import math
from numpy import count_nonzero
from tqdm.notebook import tqdm

dir_ = '../data'

In [2]:
lh = pd.read_pickle('../data/counting.pkl')
lh

         uid     tid  count
0          0       0      1
1          0       1      1
2          0       2      1
3          0       3      1
4          0       4     15
5          0       5      3
6          0       6      1
7          0       7      1
8          0       8     10
9          0       9      1
10         0      10      2
11         0      11      3
12         0      12      3
13         0      13      2
14         0      14      1
15         0      15      2
16         0      16      1
17         0      17      2
18         0      18      1
19         0      19      1
20         0      20      1
21         0      21      2
22         0      22      1
23         0      23      1
24         0      24      1
25         0      25      3
26         0      26      2
27         0      27      3
28         0      28      1
29         0      29      1
...      ...     ...    ...
1257822  227  448099      1
1257823  227  448100      1
1257824  227  448101      1
1257825  227  448102      1
1257826  227  448103      1
1257827  227  448104      1
1257828  227  448105      1
1257829  227  448106      1
1257830  227  448107      1
1257831  227  448108      1
1257832  227  448109      1
1257833  227  448110      1
1257834  227  448111      1
1257835  227  448112      1
1257836  227  448113      1
1257837  227  448114      1
1257838  227  448115      1
1257839  227  448116      1
1257840  227  448117      1
1257841  227  448118      1
1257842  227  448119      1
1257843  227  448120      1
1257844  227  448121      1
1257845  227  448122      1
1257846  227  448123      1
1257847  227  448124      1
1257848  227  448125      1
1257849  227  448126      1
1257850  227  448127      1
1257851  227  448128      1

[1257852 rows x 3 columns]

In [3]:
unique_users = len(lh['uid'].unique())
unique_tracks = len(lh['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh)))

Number of unique users : 228
Number of unique tracks : 448129
Times of tracks being listened: 1257852

In [4]:
filter_track = 5
filter_tracks = []
for i in tqdm(range(unique_tracks)):
    users = lh[lh['tid'] == i]
    if(len(users) < filter_track):
        filter_tracks.append(i)

lh_filter = lh[~lh['tid'].isin(filter_tracks)]

HBox(children=(FloatProgress(value=0.0, max=448129.0), HTML(value='')))

In [5]:
unique_users = len(lh_filter['uid'].unique())
unique_tracks = len(lh_filter['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh)))

Number of unique users : 228
Number of unique tracks : 54969
Times of tracks being listened: 1257852

In [6]:
lh_filter.to_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '.pkl'))

In [7]:
lh_filter = pd.read_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '.pkl'))

In [8]:
unique_users = len(lh_filter['uid'].unique())
unique_tracks = len(lh_filter['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh_filter)))

Number of unique users : 228
Number of unique tracks : 54969
Times of tracks being listened: 702596

In [9]:
filter_user = 100
filter_users = []
for i in tqdm(range(unique_users)):
    tracks = lh_filter[lh_filter['uid'] == i]
    if(len(tracks) < filter_user):
        filter_users.append(i)
lh_filter_user = lh_filter[~lh_filter['uid'].isin(filter_users)]

HBox(children=(FloatProgress(value=0.0, max=228.0), HTML(value='')))

In [10]:
filter_unique_users = len(lh_filter_user['uid'].unique())
filter_unique_tracks = len(lh_filter_user['tid'].unique())
print ('Number of unique users : ' + str(filter_unique_users))
print ('Number of unique tracks : ' + str(filter_unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh_filter_user)))

Number of unique users : 220
Number of unique tracks : 54969
Times of tracks being listened: 702362

In [11]:
sparsity = 1.0 - ( len(lh_filter_user) / float(filter_unique_users*filter_unique_tracks) )
sparsity

0.9419208181801644

In [12]:
lh_filter_user.to_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '_user_' + str(filter_user) + '.pkl'))

In [13]:
lh_filter_user

         uid     tid  count
4          0       4     15
5          0       5      3
6          0       6      1
7          0       7      1
8          0       8     10
9          0       9      1
10         0      10      2
11         0      11      3
13         0      13      2
14         0      14      1
15         0      15      2
18         0      18      1
20         0      20      1
27         0      27      3
28         0      28      1
29         0      29      1
30         0      30      1
31         0      31      1
32         0      32      2
33         0      33      3
34         0      34      3
35         0      35      2
36         0      36      3
37         0      37      3
38         0      38      3
39         0      39      4
40         0      40     15
41         0      41     13
42         0      42     13
43         0      43     15
...      ...     ...    ...
1256844  227  256080      1
1256847  227  257642      1
1256848  227  257892      1
1256849  227  257928      1
1256850  227  259241      1
1256851  227  260316      3
1256852  227  260941      3
1256866  227  267884      3
1256871  227  273821      5
1256872  227  273822      4
1256873  227  273823      4
1256874  227  273824      5
1256875  227  273825      6
1256879  227  278148      4
1256884  227  280667      3
1256885  227  280804      3
1256886  227  280812      2
1256889  227  285103      1
1256891  227  285287      1
1256895  227  285491      1
1256896  227  285630      1
1256899  227  285716      2
1256901  227  285721      1
1256905  227  286590      2
1256906  227  286591      2
1256928  227  300257     10
1256936  227  308324      2
1256949  227  315276      1
1256989  227  338413      1
1257021  227  358640      1

[702362 rows x 3 columns]